spring.application.name=HarmoniStay-Backend
# For cloud MongoDB: spring.data.mongodb.uri=${MONGODB_URI}

spring.data.mongodb.host=localhost
spring.data.mongodb.port=27017
spring.data.mongodb.database=HarmoniStayDB

server.port=8888

# Set these as environment variables or create application-local.properties
razorpay.key_id=${RAZORPAY_KEY_ID}
razorpay.key_secret=${RAZORPAY_KEY_SECRET}

twilio.account.sid=${TWILIO_ACCOUNT_SID}
twilio.auth.token=${TWILIO_AUTH_TOKEN}
twilio.phone.number=${TWILIO_PHONE_NUMBER}
